p {
    font-family: 'Press Start 2P';
    margin: 0;
}

button {
    font-family: 'Press Start 2P';
    height: 50px;
    width: 90px;
    border: solid 2px #333333;
    border-radius: 25px;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    width: 400px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 400px;
    align-items: center;
    border: solid 3px #333333;
    border-radius: 10px;
}

.screen {
    color: #333333;
    border: solid #333333;
    background-color: white;
    height: 49px;
    border-radius: 10px;
    width: 350px;
    margin-left: 50px;
}

.res {
    padding: 15px;
    font-weight: bold;
}

.keypad{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 230px;
}

.numpad {
    display: grid;
    grid-template-columns: 90px 90px 90px;
    column-gap: 10px;
    row-gap: 10px;
}

.operations {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.operation {
    height: 45px;
    width: 50px;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

.calculator-name {
    flex: 1;
    padding: 0;
    font-family: 'Press Start 2P';
    font-size: 20px;
    line-height: 28px;
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skull-img {
    flex: 1;
    height: 120px;
    margin: 0;
}
